<div class="panel panel-default">
  <div class="panel-heading"><span>User</span></div>
  <div class="panel-body">
    <ul>
      <li><span>First Name: <span>{{user.firstName}}</span></span></li>
      <li><span>Last Name: <span>{{user.lastName}}</span></span></li>
    </ul>
    <button class="btn btn-warning btn-sm"
            (click)="onEditUser()">
      <span>Edit</span>
    </button>
    <button class="btn btn-danger btn-sm"
            (click)="onDeleteUser()">
      <span>Delete</span>
    </button>
  </div>
</div>
