<div>
  <div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" routerLink=""><span>Task Manager</span></a>
          </div>

          <div>
            <ul class="nav navbar-nav">
              <li routerListActive="active"><a routerLink="/users"><span>Users</span></a></li>
              <li routerListActive="active"><a routerLink="/admin"><span>Admin</span></a></li>
              <li routerLinkActive="active"><a routerLink="/about" href="#"><span>About</span></a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="col-md-10">
          <router-outlet
            #routerOutlet="outlet"
            (activate)='onActivate($event, routerOutlet)'
            (deactivate)='onDeactivate($event, routerOutlet)'>
          </router-outlet>
        </div>
        <div class="col-md-2">
          <button class="btn btn-success"
                  *ngIf="!messagesService.isDisplayed"
                  (click)="onDisplayMessages()">
            <span>Show Messages</span></button>
          <router-outlet name="messages"></router-outlet>
        </div>
      </div>
  </div>
</div>
