<h3><span>Admin</span></h3>
<nav>
  <ul class="nav nav-tabs">
    <li routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="./"
         queryParamsHandling="preserve"
         preserveFragment><span>Dashboard</span></a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="./tasks"
         queryParamsHandling="preserve"
         preserveFragment><span>Manage Tasks</span></a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="./users"
         queryParamsHandling="preserve"
         preserveFragment><span>Manage Users</span></a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
